@font-face {
    font-family: "Outfit-bold";
    src: url('./fonts/Outfit-Bold.ttf') format("truetype");
  }
@font-face {
    font-family: "Outfit-regular";
    src: url('./fonts/Outfit-Regular.ttf') format("truetype");
  }
body {
    background-color:hsl(212, 45%, 89%);
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    width:100%; 
    height:100%;
    overflow: hidden;
    margin: 0;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.card-wide {
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
}
.container {
    max-width: 300px;
    padding: 20px;
}
.image-container{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.title-container { 
    padding: 5px 5px 0 5px; 
    font-family: 'Outfit-bold'; 
    font-size: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%)
}
.card-container { 
    padding: 5px 5px 25px 5px; 
    font-family: 'Outfit-regular'; 
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%)
}
img{
    max-width:100%; 
    border-radius: 10px;
}